@import url('https://fonts.googleapis.com/css?family=Lora');

.jumbotron{

    background-image: url("background.jpg");
    color: darkcyan;
    font-family: 'Lora', serif;
    height: 50%;
}

.refresh{
    color:gray;
    text-align:center;
}

/*.helper{*/
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align:middle;*/
/*}*/

/*.slideshowBox{*/
     /*height: 50vh;*/
/*}*/



/*.carousel-inner{*/
    /*background-color: slategray;*/

/*}*/

.item{
    text-align: center;
}

.carousel-inner > .item img{
    max-height: 50vh;
    /*display:inline-block;*/
    margin: auto;



}


.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-indicators li{
    background-color: transparent;
    border-color: orangered;
}

.carousel-indicators .active{
    background-color: orange;
}