@import url('https://fonts.googleapis.com/css?family=Lora');

.jumbotron{

    background-image: url("background.jpg");
    color: darkcyan;
    font-family: 'Lora', serif;
    height: 50%;
}

.refresh{
    color:gray;
    text-align:center;
}

.customCarousel img {
  width: auto;
  height: 225px;
  max-height: 225px;
}